<h2>Book detail</h2>

<table class="table">
  <tbody>
    <tr>
      <td>
        <%= image_tag 'no_image.jpg' %>
      </td>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
    </tr>
  </tbody>
</table>
